@import "../../responsive.scss";

.homepage {
	display: flex;
	height: 100%;

	.textContainer {
		flex: 3;
		height: inherit;
		display: flex;
		justify-content: center;
		align-items: flex-start;
		gap: 3rem;
		flex-direction: column;

		h1 {
			font-family: monospace;
			font-size: 27px;

			@include sm {
				text-align: center;
				font-size: 23px;
			}
		}

		p {
			padding-right: 5.5rem;
			font-weight: 100;
			font-size: 16px;
			color: rgba(10, 10, 10, 0.5);

			@include sm {
				text-align: center;
				padding-right: 0;
				font-size: 13px;
			}
		}

		section {
			display: flex;
			width: 100%;
			gap: 2rem;
			padding-right: 75px;
			justify-content: space-between;
			.box {
				display: flex;
				flex-direction: column;
				gap: 0.05rem;
				justify-content: center;
				align-items: center;

				h2 {
					font-size: 35px;
					text-align: center;
				}

				h5 {
					font-size: 11px;
					font-weight: 300;
					color: rgb(174, 195, 174);
				}
			}

			@media (max-width: 500px) {
				padding-right: 0px;
				flex-direction: column;
				gap: 0.25rem;
				.box {
					h2 {
						font-size: 25px;
					}
					h5 {
						font-size: 10px;
					}
				}
			}
		}
		@media (max-width: 500px) {
			gap: 0.5rem;
			justify-content: center;
			align-items: center;
		}
	}

	.imageContainer {
		position: relative;
		flex: 2;
		background-color: rgb(236, 233, 217);
		padding-left: 0.35rem;

		img {
			width: 110%;
			position: absolute;
			right: 0;
		}

		@media (max-width: 700px) {
			display: none;
		}
	}
}
